#root{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.color {
  width:111%;
}
.active{
  background:#E3424B;
  color:white;
}
.border{
  border:1px solid black
}
/* #circle:hover {
  background:grey !important;
} */
.container{max-width:1170px; margin:auto; 
  height:160vh;
  border:"1px solid black"}
img{ max-width:100%;}
.inbox_people {
  background:none  0 0;
  float: left;
  width: 50%; 
}
.inbox_msg {
  /* border: 1px solid #c4c4c4; */
  clear: both;
  /* overflow: hidden; */
}
.top_spac{ margin: 20px 0 0;}
.chat_ib h6{ font-size:13px; color:#989898; margin:0 0 8px 0;}
.chat_ib h6 span{ font-size:13px;color:#989898; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 9%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 9%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
  background:white;
 }
 .received_withd_msg p {
  background: #ebebeb none 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 47%;
  margin-left:3%;
  margin-top:2%;
  background:#F6F6F6;
}

 .sent_msg p {
  background: #05728f none 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none  0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;
  position: relative;}
.msg_send_btn {
  background: #05728f none  0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 576px;
}
.icon {
  padding: 10px;
  padding-top:15px;
  color: black;
  min-width: 50px;
  background: #f6f6f6;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 46%;
  border-radius:6px
}
.input-field {
  width: 100%;
  /* padding: 10px; */
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.offer{
display:grid;
grid-template-columns:7% 19% 19% 39% 6%;
grid-template-rows:260px;   
justify-content: center;
position: relative;
top:10%;
justify-content: space-evenly;
}
.offert{
  display:grid;
  grid-template-columns:7% 19% 19% 18.5% 18.5% 5%;
  grid-template-rows:260px;   
  justify-content: center;
  position: relative;
  top:10%;
  justify-content: space-evenly;
  }
@media (max-width:750px){
  #imgg{
    height:6.5vh !important;
    margin-left:-21% !important;
  }
.color{
 width:14%;
 height:7.8vh; 
}
.house{
  margin-left:1.4% ;
  margin-top:-2%;
 font-size:20px;
}
.font{
  font-size:14px;
}
.badge{
  margin-left:-5%
}
.up{
  margin-top:-85%;
  margin-left:-8% ;
}
.inpu{
  width:55% !important;
  position: relative;
  left:26%
}
#no{
 display: none;
}
#w{
  width:120% !important
}
#inn{
  width:67% !important;
  margin-left: 20%;
}
#fle{
  display: flex !important;
  position: absolute;
  left:83%
}
#car{

  height:35vh !important;
  position: relative;
  left:31%;
  width:80%
}
#carr{

  height:35vh !important;
}
.exp{
  font-size: 20px;
  margin-left: 32%;
}
#all{
  display: flex;
 overflow-x: scroll;
  font-size: 17px;
  margin-left:31% ;
  width: 100%;
  margin-top: 3% !important;
}
#alll{
  display: flex;
align-items: center;
justify-content: space-evenly;
padding-top:12px ;
height:45px !important;
height:6vh !important;
}
.home{
  display:none;
}
#cards{
  position: relative;
  left:30%
}
#card{
  height:20vh !important;
  width:73% !important
}
.l{
  height:15vh !important;
  margin-left: -20%;
}
.ll{
  position: absolute;
  top:40%;
  left:-10%;
  font-size:12px !important;
  width:175%
}
.ab{
  position: absolute;
  left:15%;
  margin-top:8% !important;
}
.f{
  font-size:12px !important
}
.about{
  font-size:17px
}
.footer{ 
  font-size:13px;
  height:9vh !important;
  padding-top:2%
}

.abc{
  margin-top:2% !important;
  margin-left:2%;
}
.whatsapp{
  display:flex;
  justify-content:space-evenly;
  font-size:14px;
  align-items: center;
};
#tw{ margin-top: -14%;}
}