#root{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.color {
  width:111%;
}
.active{
  background:#E3424B;
  color:white;
}
.border{
  border:1px solid black
}
.icon {
  padding: 10px;
  padding-top:15px;
  color: black;
  min-width: 50px;
  background: #f6f6f6;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 46%;
  border-radius:6px
}
.input-field {
  width: 100%;
  /* padding: 10px; */
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.offer{
display:grid;
grid-template-columns:7% 19% 19% 39% 6%;
grid-template-rows:260px;   
justify-content: center;
position: relative;
top:10%;
justify-content: space-evenly;
}
.offert{
  display:grid;
  grid-template-columns:7% 19% 19% 18.5% 18.5% 5%;
  grid-template-rows:260px;   
  justify-content: center;
  position: relative;
  top:10%;
  justify-content: space-evenly;
  }
@media (max-width:750px){
  #imgg{
    height:6.5vh !important;
    margin-left:-21% !important;
  }
.color{
 width:14%;
 height:7.8vh; 
}
.house{
  margin-left:1.4% ;
  margin-top:-2%;
 font-size:20px;
}
.font{
  font-size:14px;
}
.badge{
  margin-left:-5%
}
.up{
  margin-top:-85%;
  margin-left:-8% ;
}
.inpu{
  width:55% !important;
  position: relative;
  left:26%
}
#no{
 display: none;
}
#w{
  width:120% !important
}
#inn{
  width:67% !important;
  margin-left: 20%;
}
#fle{
  display: flex !important;
  position: absolute;
  left:83%
}
#car{

  height:35vh !important;
  position: relative;
  left:31%;
  width:80%
}
#carr{

  height:35vh !important;
}
.exp{
  font-size: 20px;
  margin-left: 32%;
}
#all{
  display: flex;
 overflow-x: scroll;
  font-size: 17px;
  margin-left:31% ;
  width: 100%;
  margin-top: 3% !important;
}
#alll{
  display: flex;
align-items: center;
justify-content: space-evenly;
padding-top:12px ;
height:45px !important;
height:6vh !important;
}
.home{
  display:none;
}
#cards{
  position: relative;
  left:30%
}
#card{
  height:20vh !important;
  width:73% !important
}
.l{
  height:15vh !important;
  margin-left: -20%;
}
.ll{
  position: absolute;
  top:40%;
  left:-10%;
  font-size:12px !important;
  width:175%
}
.ab{
  position: absolute;
  left:15%;
  margin-top:8% !important;
}
.f{
  font-size:12px !important
}
.about{
  font-size:17px
}
.footer{ 
  font-size:13px;
  height:9vh !important;
  padding-top:2%
}

.abc{
  margin-top:2% !important;
  margin-left:2%;
}
.whatsapp{
  display:flex;
  justify-content:space-evenly;
  font-size:14px;
  align-items: center;
};
#tw{ margin-top: -14%;}
}