#root{
  overflow: hidden;
  outline:0;
  font-family: 'Roboto', sans-serif;
}

#edit-address{
position: static !important;
height:80vh !important;
 overflow:auto !important;
}
.iframe{
  margin-top:-10% !important
}
input[type="checkbox"]:checked {
  background-color: red;
  /* columns: #e6e3e3; */
}
Button:focus{
  outline:0
}
.color {
  width:111%;
}
.active{
  background:#E3424B;
  color:white;
  
}

.border{
  border:1px solid black
}
.container{max-width:1170px; margin:auto; 
  height:160vh;
  border:"1px solid black"}
img{ max-width:100%;}
.inbox_people {
  background:none  0 0;
  float: left;
  width: 50%; 
}
.inbox_msg {
  /* border: 1px solid #c4c4c4; */
  clear: both;
  /* overflow: hidden; */
}
.top_spac{ margin: 20px 0 0;}
.chat_ib h6{ font-size:13px; color:#989898; margin:0 0 8px 0;}
.chat_ib h6 span{ font-size:13px;color:#989898; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 9%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 9%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
  /* background:white; */
 }
 .received_withd_msg p {
  background: #ebebeb none 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 47%;
  margin-left:3%;
  margin-top:2%;
  height:160vh;
  background:#F6F6F6;
}

 .sent_msg p {
  background: #05728f none 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none  0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;
  top:25%;
  position: relative;}
.msg_send_btn {
  background: #05728f none  0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 576px;
}
.icon {
  padding: 10px;
  padding-top:15px;
  color: black;
  min-width: 50px;
  background: #f6f6f6;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 46%;
  border-radius:6px
}

.input2-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 95%;
  border-radius:6px;

}
.input-field {
  width: 100%;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.not-input::placeholder{
padding-left:27px;
font-size:14px;


}
.offer{
display:grid;
grid-template-columns:7% 19% 19% 39% 6%;
grid-template-rows:260px;   
justify-content: center;
position: relative;
top:10%;
justify-content: space-evenly;
}
.offert{
  display:grid;
  grid-template-columns:7% 19% 19% 18.5% 18.5% 5%;
  grid-template-rows:260px;   
  justify-content: center;
  position: relative;
  top:10%;
  justify-content: space-evenly;
  }
  /* @media (max-width:400px){
    #logo{
      height:10vh !important
    }
  .ll{
    font-size:10px !important
  
  }
  .f{
    font-size:12px !important
  }
  .whatsapp{
    font-size:13px !important
    
  }

  .color{
  
    height:8vh;
  }
  } */
@media screen and (max-width:400px){
 .logo{
   height:10vh !important;
   width:140% !important;
   margin-left:-1% !important   
 }
 .logo-img{
   width:100% !important;
   height:100% !important;
   margin-left:-1% !important
 }
#grid{
  display: grid !important;
  grid-template-columns: 19% 81% !important;
}
.sidebar{
  /* border-right:2px solid whitesmoke */
}
.home{
  display:none;
}
#no{
  display: none;
 }
.color{
   width: 130% !important;
   height:8vh;
}
.house{
  font-size:22px !important
}
.font{
 padding-right:4% !important;
  height:6.5vh !important;
}
.m-b{
  position: relative !important;
}
.badge{
  position:absolute !important;
  top:31%;
  right:20%;
  font-size:13px !important
}
.inpu{
  width:65% !important;
  position: absolute;
  left:0%;
  border: 8px;
}
#fle{
  display: flex !important;
  position:relative;
  left:55%;

}
#car{

  height:23vh !important;
  position: relative;
  bottom:1%;
  right:3.5%;
  width:106% !important;
  border:none;
  background:none
}
#carr{
  height:23vh !important;
  position: relative;
  bottom:1%;
  border:none;
  background:none;
}
#stay{
  font-size:20px !important;
  margin-left:5%;
  margin-top:-3%;

}
.stay-p{
  width:70%;
  margin-left:5%;
  margin-top:-3%;
  font-size:10px !important
}
.exp{
  font-size: 20px;
 position: relative;
 right:4%;
 bottom:2%
}
#all{
 width:200% !important;
  overflow-x: scroll;
  border:1px solid black !important;
  margin-left:2% !important;
  position:relative;
  bottom:3%;
  display: flex;

}
#alll{
  /* display: flex;
align-items: center;
justify-content: space-evenly;
padding-top:12px ;
height:40px !important; */
width:100%

}
#cards{
  position: relative;
  left:-5%
}
#card{
  height:22vh !important;
 
}
 /* --------settings---------- */
 .set{
  width: 94% !important;
  height:8vh;
   }
 .house-s{
  font-size:25px !important;
 }
 .hs{
   height:6vh;
  margin-left:-5.2%
 }
 .set-m-1{
   margin-left:12% !important;
   margin-top:3% !important
 }
 .set-m-2{
  margin-left:7% !important;
  margin-top:5% !important;
}

/* ------------exploring------------- */
.bestdeal1{
  height:320vh !important;
  width:104% !important
}
 .p1{
  height:30vh !important; 
}
.bestdealp{
  position:relative;
  left:4% 
}
.ptag{
  font-size:16px
}
.pprice{
  font-size:30px
}
.pdec{
  font-size:17px !important
}
.pfooter{
  font-size:19px !important;
  position: relative;
  left:20% !important
}
.footer
{ 
  font-size:13px;
  height:9vh !important;
  padding-top:2%
}
.l{
  height:14vh !important;
  position: relative;
  right:20%;
}
.ll{
  width:200%; 
  position: relative;
  bottom:10%;
  right:20%;
  font-Size:10px !important

}
.abc{
  font-size:12px
}
.ab{
  position: relative;
  left:11%;
  margin-top:6% !important;
}
.whatsapp{
  font-size:12px
}
#tw{ margin-top: -14%;}
}